.fab {
    color: black;
}

span {
    color: black;
}

section {
    color: black;
}

section a {
    text-decoration: none;
}

.copyright {
    color: black;
}

.text-justify {
    text-align: justify;
}